* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.form-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #39c;
    font-size: 2em;
    font-weight: normal;
    margin-left: 40px;
    margin-bottom: 5px;
}

.form-wrapper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #48f;
    border-radius: 6px;
    padding: 20px;
    margin: 1px 20px 20px 20px;
    max-width: 500px;
    min-width: 380px;
}

.form-wrapper label {
    font-size: 1em;
    font-weight: bold;
}

.form-wrapper p {
    text-indent: 0;
    line-height: 1.5;
    margin: 15px 0 0 0;
}

.form-wrapper input {
    font-size: 1em;
    border: 0;
    border-radius: 3px;
    outline: none;
    margin: 5px 0 20px 0;
    padding: 10px;
    width: 100%;
}

.form-wrapper input:last-of-type {
    margin-bottom: 5px;
}

.form-wrapper input:focus {
    outline: #248 solid 2px;
}

.form-wrapper input.show-error {
    outline: red solid 2px;
}

.input-wrapper {
    position: relative;
}

.label-wrapper {
    margin-top: 20px;
}

.label-wrapper:first-of-type {
    margin-top: 0;
}

.error-message {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: -325px;
    width: 300px;
    display: none;
}

.show-error {
    display: block;
}