* {
    box-sizing: border-box;
}

.persons-wrapper {
    max-width: 860px;
}

.persons {
    table-layout: initial;
    margin: 20px;
    border-collapse: collapse;
    border: 1px solid #cccccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    width: 100%;
}

.persons th {
    border: 1px solid #cccccc;
    background-color: #3498db;
    color: #fff;
    padding: 12px 12px;
    text-align: left;
}

.persons td {
    border: 1px solid #cccccc;
    color: #211e2b;
    padding: 12px 12px;
}

.persons tbody tr:nth-child(even) td {
    background-color: #eeeeee;
}

.persons .column1,
.persons .column2 {
    width: 20.5%;
}

.persons .column3 {
    width: 36%;
}